header {
  background-color: #9b977b;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.activeNav {
  color: #2a2d1d;
  text-decoration: underline;
}

.widthNav {
  width: 80%;
  margin: 0;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: #e8e1cf;
  font-weight: 600;
  font-size: 1.2rem;
}