.detailCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoDetail {
  width: 80%;
  margin-top: 4rem;
  color: #2a2d1d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tekstDetail {
  width: 80%;
}

.titleDetail {
  font-size: 2rem;
}

.dateDetail {
  color: #9b977b;
}

.imgDetail {
  width: 40%;
  height: 100%;
  margin-top: 2rem;
}