html, body {
  margin: 0;
  padding: 0;
  background-color: #e8e1cf;
  color: #2a2d1d;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 4rem ;
}